<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.redpacket.mapper.RedpacketTop10PopularFoodMapper">
    
    <resultMap type="RedpacketTop10PopularFood" id="RedpacketTop10PopularFoodResult">
        <result property="id"    column="id"    />
        <result property="foodName"    column="food_name"    />
        <result property="ranking"    column="ranking"    />
    </resultMap>

    <sql id="selectRedpacketTop10PopularFoodVo">
        select id, food_name, ranking from redpacket_top10_popular_food
    </sql>

    <select id="selectRedpacketTop10PopularFoodList" parameterType="RedpacketTop10PopularFood" resultMap="RedpacketTop10PopularFoodResult">
        <include refid="selectRedpacketTop10PopularFoodVo"/>
        <where>  
            <if test="foodName != null  and foodName != ''"> and food_name like concat('%', #{foodName}, '%')</if>
            <if test="ranking != null "> and ranking = #{ranking}</if>
        </where>
    </select>
    
    <select id="selectRedpacketTop10PopularFoodById" parameterType="Long" resultMap="RedpacketTop10PopularFoodResult">
        <include refid="selectRedpacketTop10PopularFoodVo"/>
        where id = #{id}
    </select>

    <insert id="insertRedpacketTop10PopularFood" parameterType="RedpacketTop10PopularFood" useGeneratedKeys="true" keyProperty="id">
        insert into redpacket_top10_popular_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name,</if>
            <if test="ranking != null">ranking,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">#{foodName},</if>
            <if test="ranking != null">#{ranking},</if>
         </trim>
    </insert>

    <update id="updateRedpacketTop10PopularFood" parameterType="RedpacketTop10PopularFood">
        update redpacket_top10_popular_food
        <trim prefix="SET" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name = #{foodName},</if>
            <if test="ranking != null">ranking = #{ranking},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRedpacketTop10PopularFoodById" parameterType="Long">
        delete from redpacket_top10_popular_food where id = #{id}
    </delete>

    <delete id="deleteRedpacketTop10PopularFoodByIds" parameterType="String">
        delete from redpacket_top10_popular_food where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>