<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.redpacket.mapper.RedpacketTownSpecialtyFoodMapper">
    
    <resultMap type="RedpacketTownSpecialtyFood" id="RedpacketTownSpecialtyFoodResult">
        <result property="id"    column="id"    />
        <result property="foodName"    column="food_name"    />
        <result property="ranking"    column="ranking"    />
    </resultMap>

    <sql id="selectRedpacketTownSpecialtyFoodVo">
        select id, food_name, ranking from redpacket_town_specialty_food
    </sql>

    <select id="selectRedpacketTownSpecialtyFoodList" parameterType="RedpacketTownSpecialtyFood" resultMap="RedpacketTownSpecialtyFoodResult">
        <include refid="selectRedpacketTownSpecialtyFoodVo"/>
        <where>  
            <if test="foodName != null  and foodName != ''"> and food_name like concat('%', #{foodName}, '%')</if>
            <if test="ranking != null "> and ranking = #{ranking}</if>
        </where>
    </select>
    
    <select id="selectRedpacketTownSpecialtyFoodById" parameterType="Long" resultMap="RedpacketTownSpecialtyFoodResult">
        <include refid="selectRedpacketTownSpecialtyFoodVo"/>
        where id = #{id}
    </select>

    <insert id="insertRedpacketTownSpecialtyFood" parameterType="RedpacketTownSpecialtyFood" useGeneratedKeys="true" keyProperty="id">
        insert into redpacket_town_specialty_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name,</if>
            <if test="ranking != null">ranking,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">#{foodName},</if>
            <if test="ranking != null">#{ranking},</if>
         </trim>
    </insert>

    <update id="updateRedpacketTownSpecialtyFood" parameterType="RedpacketTownSpecialtyFood">
        update redpacket_town_specialty_food
        <trim prefix="SET" suffixOverrides=",">
            <if test="foodName != null and foodName != ''">food_name = #{foodName},</if>
            <if test="ranking != null">ranking = #{ranking},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRedpacketTownSpecialtyFoodById" parameterType="Long">
        delete from redpacket_town_specialty_food where id = #{id}
    </delete>

    <delete id="deleteRedpacketTownSpecialtyFoodByIds" parameterType="String">
        delete from redpacket_town_specialty_food where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>