<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.redpacket.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="email"    column="email"    />
    </resultMap>

    <sql id="selectUsersVo">
        select user_id, user_name as username, password, email from sys_user
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            and del_flag = '0'
            <if test="username != null  and username != ''"> and user_name like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>
    
    <select id="selectUsersByUserId" parameterType="Long" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">user_name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="email != null">email,</if>
            dept_id,
            status,
            del_flag,
            create_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="email != null">#{email},</if>
            103,
            '0',
            '0',
            sysdate(),
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">user_name = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            update_time = sysdate(),
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteUsersByUserId" parameterType="Long">
        update sys_user set del_flag = '2' where user_id = #{userId}
    </delete>

    <delete id="deleteUsersByUserIds" parameterType="String">
        update sys_user set del_flag = '2' where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>